html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "a";
}
.icon-trash:before {
  content: "b";
}
.icon-list-thumbnails:before {
  content: "c";
}
.icon-thumbnails:before {
  content: "d";
}
.icon-camera:before {
  content: "e";
}
.icon-fontawesome-webfont:before {
  content: "f";
}
.icon-camera-1:before {
  content: "g";
}
.icon-camera:before {
  content: "e";
}
.icon-fontawesome-webfont:before {
  content: "f";
}
.icon-fontawesome-webfont-1:before {
  content: "h";
}
.icon-camera-2:before {
  content: "i";
}




.container > header {
  margin-bottom: 3em;
}

.main-stats {
  background-color: #fdfdfd;
  border-bottom: 1px solid #efeef3;
  width: 100%;
  z-index: 2;
}

.main-stats .stats-row {
  box-shadow: inset -1px 0px 5px 2px #f9f9f9;
  margin: 0;
}

.main-stats .stat {
  text-align: right;
  padding: 10px;
  border-right: 1px solid #e8e9ee;
  position: relative;
  box-shadow: 1px 0px 0px 0px white;
  float: left;
}

.main-stats .stat.last {
  border-right: 0px;
}

.main-stats .stat .data {
  color: #29323a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.main-stats .stat .data .number {
  color: #32a0ee;
  font-size: 25px;
  margin-right: 15px;
}

.main-stats .stat .date {
  color: #b4b8bb;
  font-weight: lighter;
  font-family: 'Lato', 'Open Sans';
  font-style: italic;
  font-size: 13px;
  position: absolute;
  right: 50px;
}

.main-stats button.new {
  margin: 10px;
  padding: 10px;
}

#form {
  clear: left;
}

.edit-state {
  display: none;
}

.item-wrap {
  max-height: 400px;
  overflow: auto;
}

.container {
  margin-bottom: 3em;
  padding: 0;
}

.container-padded {
  margin: 2em;
}

.alert {
  position: fixed;
  z-index: 1041;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  text-align: center;
  padding-top: 10em;
  opacity: .9;
  height: 100%;
}

[data-toggle=modal] {
  margin: 24px 24px 0;
}

[class*="step-"] {
  display: none;
}

[class*="step-"].active {
  display: block;
}


.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead:first-child > tr > th:first-child {
  padding-left: 1em;
}

.table > tbody > tr > td:first-child {
  padding-left: 1em;
}

.table > tbody > tr > td:last-child {
  padding-right: 1em;
}


.empty {
  padding: 4em;
  text-align: center;
}


.list {
  position: absolute;
  width: 100%;
  top: 5em;
  z-index: 1;
  -webkit-overflow-scrolling : touch;
}

#new-item {
  margin: 17px 17px 0;
  padding: 8px 11px 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.delete-item {
  padding: 4px 10px 0px;
  color: #666;
}

.delete-item:hover {
  text-decoration: none;
}


.fade {
  opacity: 0;
}

.fade.in {
  transition: opacity 250ms;
}


@media
  only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {

  .main-stats {
    margin-bottom: 1em;
  }

  .main-stats .stat {
    text-align: left;
    padding: 1em;
    float: left;
  }

  .main-stats .stat.last {
    width: 60%;
  }

  [data-toggle=modal] {
    margin: 11px 11px 0;
  }

}

@media only screen and (max-width : 320px) {

  .main-stats .stat .value {
    display: none;
  }

  .table .category,
  .table .image {
    display: none;
  }

  .step-1 .form-group .icon-camera, #fileInput {
    left: 12%;
  }

 }


@media (min-width: 768px) {

  .list {
    top: 8em;
  }

}

