<html>
<head>
  <title>Inventory</title>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore.min.js"></script>
  <script src="js/lib/backbone.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>

<div class="container-fluid">

  <div class="main-stats">
    <div class="row stats-row">
      <div class="col-md-3 col-sm-3 stat">
        <div class="data">
            <span class="number">0</span>items
        </div>
      </div>
      <div class="col-md-5 col-sm-5 stat last">
        <div class="data">
            <span class="number">$0</span>total value
        </div>
      </div>
    </div>
  </div>

  <div role="main" id="main">
    <ul class="list-group" id="summary-list"></ul>
    <ul class="list-group" id="category-list"></ul>
  </div>

</div>

<script type="text/template" id="category-summary-template">
  <a href="#/category/<%= slug %>"><%= _id %></a><span class="badge"><%= count %></span>
</script>

<script type="text/template" id="category-items-template">
  <a href="#/view/<%= _id %>"><%= title %></a> <span class="pull-right">$<%= value %> <a href="#/edit/<%= _id %>">edit</a></span>
</script>

<script type="text/template" id="new-item-template">
  <form id="newItem" action="#" enctype="multipart/form-data">
    <input id="date" class="collect" type="hidden" type="text" value="">
    <div class="form-group">
      <div class="icon-camera"></div>
      <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
    <div id="fileDisplayArea"></div>
    </div>
    <div class="form-group">
      <input id="title" class="form-control collect" type="text" placeholder="Title" />
    </div>
    <div class="form-group">
      <input id="category" class="form-control collect" type="text" placeholder="Category" />
    </div>
    <div class="form-group">
      <input id="value" class="form-control collect" type="text" placeholder="Value" />
    </div>
  </form>
</script>

<script>

/* Category Summary */
var CategorySummaryModel = Backbone.Model.extend({
  defaults: {
    _id: '',
    slug: '',
    count: 0
  }
});

var CategorySummaryView = Backbone.View.extend({
  el: '#summary-list',

  initialize: function() {
    this.collection = new CategorySummaryCollection();
    this.collection.fetch({reset: true});
    this.render();

    this.listenTo(this.collection, 'reset', this.render)
  },

  render: function() {
    this.collection.each(function(item) {
      this.renderCategory(item);
    }, this);
    return this;
  },

  renderCategory: function(item) {
    var categoryView = new CategorySummaryItemView({ model: item });
    this.$el.append(categoryView.render().el);
  },

  onClose: function(){
    this.model.unbind('change', this.render);
  }
});

var CategorySummaryItemView = Backbone.View.extend({
  tagName: 'li',
  className: 'list-group-item',
  template: _.template($('#category-summary-template').html()),

  render: function() {
    var title = this.model.get('_id');

    this.model.set({
      slug: convertToSlug(title)
    });

    this.$el.html(this.template(this.model.toJSON()));
    return this;
  }
});

var CategorySummaryCollection = Backbone.Collection.extend({
  url: 'api/categories',
  model: CategorySummaryModel,

  initialize : function (options) {
    this.options = options || {};
  }
});

/* Category List */
var CategoryListModel = Backbone.Model.extend({
  defaults: {
    title: '',
    category: '',
    slug: '',
    image: '',
    value: 0
  },
  urlRoot: '/api/category/'
});

var CategoryListView = Backbone.View.extend({
  el: '#category-list',

  initialize: function() {
    this.collection = new CategoryListCollection();
    this.collection.fetch({reset: true});
    this.render();

    this.listenTo(this.collection, 'reset', this.render)
  },

  render: function() {
    this.collection.each(function(item) {
      this.renderCategory(item);
    }, this);
    return this;
  },

  renderCategory: function(item) {
    var categoryListView = new CategoryListItemView({ model: item });
    this.$el.append(categoryListView.render().el);
  },

  onClose: function(){
    this.model.unbind('change', this.render);
  }
});

var CategoryListItemView = Backbone.View.extend({
  tagName: 'li',
  className: 'list-group-item',
  template: _.template($('#category-items-template').html()),

  render: function() {
    this.$el.html(this.template(this.model.toJSON()));
    return this;
  }
});

var CategoryListCollection = Backbone.Collection.extend({
  url: 'api/category/',
  model: CategoryListModel,

  initialize : function (options) {
    this.options = options || {};
  }
});

var Router = Backbone.Router.extend({

  routes: {
    '': 'home',
    'category/:id': 'categoryList',
    'edit/:id': 'edit',
    'view/:id': 'view',
    '*notFound': 'notFound'
  },

  initialize: function(options) {
  },

  home: function() {
    var categorySummaryView = new CategorySummaryView();
  },

  categoryList: function(id) {
    var category = new CategoryListModel({id: id});
    category.fetch({
      success: function() {
        var categoryListView = new CategoryListView({ model: category });
        $('#main').html(categoryListView.render().el);
      }
    });
  },

  edit: function() {
    $('#main').html('<h1>Editing Item</h1>');
  },

  notFound: function() {
    $('#main').html('<h1>It\'s broken</h1>');
  }

});

Backbone.View.prototype.close = function() {
  this.remove();
  this.unbind();
  if (this.onClose) {
    this.onClose();
  }
};

function convertToSlug(Text) {
  return Text
    .toLowerCase()
    .replace(/[^\w ]+/g,'')
    .replace(/ +/g,'-');
}

function AppView() {
  this.showView(view);

  if (this.currentView) {
   this.currentView.close();
  }

  this.currentView = view;
  this.currentView.render();

  $("#main").html(this.currentView.el);
};

$(function() {
  new Router();
  Backbone.history.start();
});


</script>

</body>
</html>

