<html>
<head>
  <title>Inventory</title>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore.min.js"></script>
  <script src="js/lib/backbone.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>

<div class="container-fluid">

  <div class="main-stats">
    <div class="row stats-row">
      <div class="col-md-3 col-sm-3 stat">
        <div class="data">
            <span class="number">0</span>items
        </div>
      </div>
      <div class="col-md-5 col-sm-5 stat last">
        <div class="data">
            <span class="number">$0</span>total value
        </div>
      </div>
    </div>
  </div>

  <div role="main" id="main">
    <ul class="list-group" id="category-list"></ul>
  </div>

</div>

<script type="text/template" id="category-item-template">
  <a href="#/category/<%= slug %>"><%= _id %></a><span class="badge"><%= count %></span>
</script>

<script type="text/template" id="new-item-template">
  <form id="newItem" action="#" enctype="multipart/form-data">
    <input id="date" class="collect" type="hidden" type="text" value="">
    <div class="form-group">
      <div class="icon-camera"></div>
      <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
    <div id="fileDisplayArea"></div>
    </div>
    <div class="form-group">
      <input id="title" class="form-control collect" type="text" placeholder="Title" />
    </div>
    <div class="form-group">
      <input id="category" class="form-control collect" type="text" placeholder="Category" />
    </div>
    <div class="form-group">
      <input id="value" class="form-control collect" type="text" placeholder="Value" />
    </div>
  </form>
</script>

<script>

var Item = Backbone.Model.extend({
  defaults: {
    _id: '',
    slug: '',
    count: 0
  }
});

var Library = Backbone.Collection.extend({

  url: 'api/categories',
  model: Item,

  initialize : function (options) {
    this.options = options || {};
  }
});

var CategoryView = Backbone.View.extend({
  tagName: 'li',
  className: 'list-group-item',
  template: _.template($('#category-item-template').html()),

  render: function() {
    this.$el.html(this.template(this.model.toJSON()));
    return this;
  }
});

var NewItemView = Backbone.View.extend({
  tagName: 'div',
  className: 'new-item',
  template: _.template($('#new-item-template').html()),

  render: function() {
    return this;
  }
});

var LibraryView = Backbone.View.extend({
  el: '#category-list',

  initialize: function() {
    this.collection = new Library();
    this.collection.fetch({reset: true});
    this.render();

    this.listenTo(this.collection, 'reset', this.render)
  },

  render: function() {
    this.collection.each(function(item) {
      this.renderCategory(item);
    }, this);
  },

  renderCategory: function(item) {
    var categoryView = new CategoryView({ model: item });
    this.$el.append(categoryView.render().el);
  },

  onClose: function(){
    this.model.unbind('change', this.render);
  }
});

Backbone.View.prototype.close = function() {
  this.remove();
  this.unbind();
  if (this.onClose) {
    this.onClose();
  }
};

function AppView() {
   this.showView(view);

   if (this.currentView) {
     this.currentView.close();
   }

   this.currentView = view;
   this.currentView.render();

   $("#main").html(this.currentView.el);
};

var Router = Backbone.Router.extend({

   routes: {
      '': 'home',
      'new': 'newItem',
      'edit/:id': 'edit',
      'view/:id': 'view',
      '*notFound': 'notFound'
   },

   initialize: function(options) {

   },

   home: function() {
     var homeView = new LibraryView();
     $('#main').html(homeView.render().el);
   },

   newItem: function() {
    var newitemView = new NewItemView();
    $('#main').html(newitemView.render().el);
   },

   edit: function() {
    // var item = items.get(id);
    // var editItem = new editItemView({model: item});
    $('#main').html('<h1>Editing Item</h1>');
   },

   notFound: function() {
    $('#main').html('<h1>It\'s broken</h1>');
   }

});

$(function() {
  new LibraryView();
  new Router();
  Backbone.history.start();
});


</script>

</body>
</html>

