<html>
<head>
  <title>Inventory</title>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore.min.js"></script>
  <script src="js/lib/backbone.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>

<div class="container-fluid">

  <div class="main-stats">
    <div class="row stats-row">
      <div class="col-md-3 col-sm-3 stat">
        <div class="data">
            <span class="number">0</span>items
        </div>
      </div>
      <div class="col-md-5 col-sm-5 stat last">
        <div class="data">
            <span class="number">$0</span>total value
        </div>
      </div>
    </div>
  </div>

  <div role="main">
    <ul class="list-group" id="category-list"></ul>
  </div>

</div>

<script type="text/template" id="category-item-template">
  <a href="#/category/<%= slug %>"><%= _id %></a><span class="badge"><%= count %></span>
</script>


<script>

var Item = Backbone.Model.extend({
  defaults: {
    _id: '',
    slug: '',
    count: 0
  }
});

var Library = Backbone.Collection.extend({
  url: 'api/categories',
  model: Item
});

var CategoryView = Backbone.View.extend({
  tagName: 'li',
  className: 'list-group-item',
  template: _.template($('#category-item-template').html()),

  render: function() {
    this.$el.html(this.template(this.model.toJSON()));
    return this;
  }
});

var LibraryView = Backbone.View.extend({
  el: '#category-list',

  initialize: function(items) {
    this.collection = new Library();
    this.collection.fetch({reset: true});
    this.render();

    this.listenTo(this.collection, 'reset', this.render)
  },

  render: function() {
    this.collection.each(function(item) {
      this.renderCategory(item);
    }, this);
  },

  renderCategory: function(item) {
    var categoryView = new CategoryView({ model: item });
    this.$el.append(categoryView.render().el);
  }
});

$(function() {
  new LibraryView();
});


</script>

</body>
</html>

