<!doctype html>
<html class="no-js" lang="">
  <head>
    <title>I've Got [This]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" href="images/iphone-icon.png"/>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <header id="header"></header>
    <section id="main"></section>

    <script type="text/template" id="header-template">
      <div class="header-content">
        <ul>
          <li><a href="#/" class="icon-home">Home</a></li>
          <li class="location">Groups</li>
          <li><a href="#/new" class="icon-add">Add</a></li>
        </ul>
      </div>
    </script>

    <script type="text/template" id="home-template">
      <h1>ive got [this]</h1>
      <div class="grid-items-lines">
        <a class="grid-item">
          <h2 id="count-items"><%= count %></h2>
          <p>Items</p>
        </a>
        <a class="grid-item">
          <h2 id="count-groups"><%= category.length %></h2>
          <p>Groups</p>
        </a>
        <a class="grid-item grid-item-big">
          <h2 id="count-value">$<%= value %></h2>
          <p>Total Value</p>
        </a>
        <nav>
          <a href="#/new" class="grid-item grid-item-big" id="add-item">
            <span class="icon-add icon-forward-r">Add an item</span>
          </a>
          <a href="#/categories" class="grid-item grid-item-big" id="browse-categories">
            <span class="icon-tags icon-forward-r">Just browse</span>
          </a>
        </nav>
        <div class="right-cover"></div>
        <div class="bottom-cover"></div>
      </div>
    </script>

    <script type="text/template" id="category-summary-template">
      <a href="#/category/<%= slug %>" class="grid-item icon-forward-r">
        <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1_dark.png" alt="">
        <h3><%= _id %><span>(<%= count %>)</span></h3>
        <small>Value: $<%= value %></small>
        <p><%= description %></p>
      </a>
    </script>

    <script type="text/template" id="category-items-template">
      <a href="#/view/<%= _id %>" class="grid-item">
        <img src="http://placekitten.com/42/42" alt="">
        <h4><%= title %></h4>
        <span class="edit">Edit</span>
      </a>
    </script>

    <script type="text/template" id="single-view-template">
      <section class="detail">
        <figure>
          <img src="images/sam-flax-chair.jpg" alt="">
          <div class="detail-wrap">
            <a href="#" class="icon-close close"></a>
            <span class="value-tag">$ <%= value %></span>
          </div>
        </figure>

        <div class="body">
          <h2><%= title %></h2>
          <h6><%= category %></h6>
          <!--<a href="#" class="icon-receipt"></a>-->
          <p><%= description %></p>
        </div>

        <footer>
          <button class="icon-edit"></button>
          <button class="icon-trash pull-right"></button>
        </footer>
      </section>
    </script>

    <script type="text/template" id="new-item-template">
      <section class="edit">
        <div class="body">
          <form id="new-item-form" role="form" method="post" enctype="multipart/form-data">
            <input id="slug" name="slug" type="hidden" value="">
            <button class="file-upload">
              <span class="icon-plus">Add files</span>
              <input type="file" name="image" id="image">
            </button>
            <div class="form-group">
              <input type="text" id="title" name="title" placeholder="Title" value="">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <input type="text" id="category" name="category" placeholder="Category" value="">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <textarea id="description" name="description" placeholder="Description" cols="30" rows="5"></textarea>
            </div>
            <div class="form-group">
              <input type="text" id="value" name="value" placeholder="$" value="">
            </div>
            <div class="form-group">
              <input type="text" id="quantity" name="quantity" placeholder="Quantity" value="">
            </div>
          </div>
        </form>

        <footer>
          <button id="save">Save</button>
          <button class="pull-right" id="cancel">Cancel</button>
        </footer>
      </section>
    </script>

    <script type="text/template" id="edit-item-template">
      <section class="edit">
        <div class="body">
          <form id="editItem" action="#" enctype="multipart/form-data">
            <button class="file-upload">
              <span class="icon-plus">Add files</span>
              <input id="fileInput" capture="camera" accept="image/*" type="file" name="files[]" />
            </button>
            <input id="slug" type="hidden" value="<%= slug %>">
            <input id="title" type="text" value="<%= title %>" />
            <input id="category" type="text" value="<%= category %>" />
            <textarea id="description" cols="30" rows="10"><%= description %></textarea>
            <input id="value" type="text" value="<%= value %>" />
            <input type="text" id="quantity" value="<%= quantity %>" value="">
            <footer>
              <button id="save">Save</button>
              <button class="pull-right" id="cancel">Cancel</button>
            </footer>
          </form>
        </div>
      </section>
    </script>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore.min.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.validation.js"></script>
  <script src="js/models/category-index.js"></script>
  <script src="js/models/item-list.js"></script>
  <script src="js/models/single-item.js"></script>
  <script src="js/models/new-item.js"></script>
  <script src="js/models/home.js"></script>
  <script src="js/collections/category-index.js"></script>
  <script src="js/collections/item-list.js"></script>
  <script src="js/views/header.js"></script>
  <script src="js/views/home.js"></script>
  <script src="js/views/item.js"></script>
  <script src="js/views/item-list.js"></script>
  <script src="js/views/category-item.js"></script>
  <script src="js/views/category-index.js"></script>
  <script src="js/views/single-item.js"></script>
  <script src="js/views/new-item.js"></script>
  <script src="js/views/edit-item.js"></script>
  <script src="js/routes/routes.js"></script>
  <script src="js/lib/helpers.js"></script>
  <script src="js/app.js"></script>

  </body>
</html>