<!doctype html>
<html class="no-js" lang="">
  <head>
    <title>I've Got [This]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" href="images/iphone-icon.png"/>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <header id="header"></header>
    <section id="main"></section>

    <script type="text/template" id="header-template">
      <div class="header-content">
        <ul>
          <li><a href="#/" class="icon-home">Home</a></li>
          <li class="location"></li>
          <li><a href="#/new" class="icon-add">Add</a></li>
        </ul>
      </div>
    </script>

    <script type="text/template" id="home-template">
      <h1>ive got [this]</h1>
      <div class="grid-items-lines">
        <a href="#/all" class="grid-item">
          <h2 id="count-items"><%= count %></h2>
          <p>Items</p>
        </a>
        <a href="#/categories" class="grid-item">
          <h2 id="count-groups"><%= category.length %></h2>
          <p>Groups</p>
        </a>
        <a class="grid-item grid-item-big">
          <h2 id="count-value">$<%= value %></h2>
          <p>Total Value</p>
        </a>
        <nav>
          <a href="#/new" class="grid-item grid-item-big" id="add-item">
            <span class="icon-add icon-forward-r">Add an item</span>
          </a>
          <a href="#/categories" class="grid-item grid-item-big" id="browse-categories">
            <span class="icon-tags icon-forward-r">Browse</span>
          </a>
        </nav>
      </div>
    </script>

    <script type="text/template" id="get-started-template">
      <h1>ive got [this]</h1>
      <div class="grid-items-lines">
        <span class="grid-item grid-item-big">
          <h3>Your inventory is empty!</h3>
          <p>Lets start by adding an item.</p>
        </span>
        <nav>
          <a href="#/new" class="grid-item grid-item-big" id="add-item">
            <span class="icon-add icon-forward-r">Add an item</span>
          </a>
        </nav>
      </div>
    </script>

    <script type="text/template" id="category-summary-template">
      <a href="#/category/<%= slug %>" class="grid-item icon-forward-r">
        <img src="images/placeholder_logo_1_dark.png" alt="">
        <h3><%= _id %><span>(<%= count %>)</span></h3>
        <small>Value: $<%= value %></small>
        <p><%= description %></p>
      </a>
    </script>

    <script type="text/template" id="category-items-template">
      <a href="#/view/<%= _id %>" class="grid-item">
        <img src="<%= image[0] %>" alt="">
        <h4><%= title %></h4>
        <div class="controls">
          <span class="edit">Edit</span>
          <span class="delete icon-close"></span>
        </div>
      </a>
    </script>

    <script type="text/template" id="single-view-template">
      <section class="detail">
        <% if (!image) { %>
        <figure class="no-image">
          <img src="images/no-image.png" alt="">
        <% }
        else { %>
        <figure>
          <img src="<%= image[1] %>" alt="">
        <% } %>
          <div class="detail-wrap">
            <a href="#" class="icon-close close"></a>
            <span class="value-tag">$ <%= value %></span>
          </div>
        </figure>

        <div class="bd">
          <h2><%= title %></h2>
          <h6><a href="#/category/<%= slug %>"><%= category %></a></h6>
          <ul>
            <li><%= description %></li>
            <li><b>Quantity</b>: <%= quantity %></li>
        </div>

        <footer>
          <button class="icon-edit"></button>
          <button class="icon-trash pull-right"></button>
        </footer>
      </section>
    </script>

    <script type="text/template" id="image-upload-template">
      <section class="form-layout">
        <div class="bd trim">
          <div class="media-block upload-placeholder"></div>
          <form action="/api/upload" role="form" method="post" enctype="multipart/form-data" class="direct-upload">
            <div class="progress-bar-indication"></div>
            <button class="file-upload">
              <span class="icon-plus">Image</span>
              <input capture="camera" type="file" name="image" id="fileupload">
            </button>
          </form>
        </div>
      </section>
    </script>

    <script type="text/template" id="new-item-template">
      <section class="form-layout">
        <div class="bd">
          <form id="new-item-form" action="#">
            <input type="hidden" name="slug" id="slug" value="">
            <div class="form-group">
              <input type="text" id="title" name="title" placeholder="Title" value="">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <input type="text" id="category" name="category" placeholder="Category" value="">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <textarea id="description" name="description" placeholder="Description" cols="30" rows="5"></textarea>
            </div>
            <div class="form-group">
              <input type="text" id="value" name="value" placeholder="$" value="">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <input type="text" id="quantity" name="quantity" placeholder="Quantity" value="">
            </div>
          </div>
        </form>

        <footer>
          <button type="submit" id="save">Save</button>
          <button class="pull-right" id="cancel">Cancel</button>
        </footer>
      </section>
    </script>

    <script type="text/template" id="edit-item-template">
      <section class="form-layout">
        <div class="bd">
          <% if (image) { %>
          <div class="media-block" id="upload-placeholder">
            <img src="<%= image[0] %>" alt="">
            <a href="#" class="icon-close" data-id="<%= image[3] %>"></a>
          </div>
          <% } %>
          <form id="edit-item-form" action="#">
            <input id="slug" name="slug" type="hidden" value="<%= slug %>">
            <div class="form-group">
              <input type="text" id="title" name="title" placeholder="Title" value="<%= title %>">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <input type="text" id="category" name="category" placeholder="Category" value="<%= category %>">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <textarea id="description" name="description" placeholder="Description" cols="30" rows="5"><%= description %></textarea>
            </div>
            <div class="form-group">
              <input type="text" id="value" name="value" placeholder="$" value="<%= value %>">
              <span class="help-block hidden"></span>
            </div>
            <div class="form-group">
              <input type="text" id="quantity" name="quantity" placeholder="Quantity" value="<%= quantity %>">
            </div>
          </div>
            <footer>
              <button id="save">Save</button>
              <button class="pull-right" id="cancel">Cancel</button>
            </footer>
          </form>
        </div>
      </section>
    </script>

    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>