<html>
<head>
  <title>Inventory</title>
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div class="container-fluid">

  <div class="main-stats" id="header"></div>

  <div role="main" id="main">
  </div>

</div>

<script type="text/template" id="header-template">
  <div class="row stats-row">
    <div class="stat">
      <div class="data">
        <span class="number" id="total-count">0</span>items
      </div>
    </div>
    <div class="stat">
      <div class="data">
        <span class="number" id="value-wrap">$<b>0</b></span>total value
      </div>
    </div>
    <button class="btn btn-sm btn-primary pull-right icon-plus new"></button>
  </div>
</script>

<script type="text/template" id="category-summary-template">
  <a href="#/category/<%= slug %>"><%= _id %></a><span class="badge"><%= count %></span>
</script>

<script type="text/template" id="category-items-template">
  <a href="#/view/<%= _id %>"><%= title %></a> <span class="pull-right">$<%= value %> <a href="#/edit/<%= _id %>">edit</a></span>
</script>

<script type="text/template" id="single-view-template">
  <h2><%= title %></h2>
  <p><%= category %></p>
  <p><%= value %></p>
  <small><a href="#/edit/<%= _id %>">Edit</a> | <a href="#" class="delete">delete</a> </small>
</script>

<script type="text/template" id="new-item-template">
  <h1>New Thang</h1>
  <form id="newItem" action="#" enctype="multipart/form-data">
    <input id="slug" type="hidden" value="">
    <div class="form-group">
      <input id="title" class="form-control" type="text" placeholder="Title" value="" />
    </div>
    <div class="form-group">
      <input id="category" class="form-control" type="text" placeholder="Category" value="" />
    </div>
    <div class="form-group">
      <input id="value" class="form-control" type="text" placeholder="$ Value" value="" />
    </div>
    <div class="form-group">
      <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
    </div>
  </form>
  <a href="#" class="done hide">Done</a>
</script>

<script type="text/template" id="edit-item-template">
  <form id="editItem" action="#" enctype="multipart/form-data">
    <input id="slug" type="hidden" value="<%= slug %>">
    <div class="form-group">
      <input id="title" class="form-control" type="text" value="<%= title %>" />
    </div>
    <div class="form-group">
      <input id="category" class="form-control" type="text" value="<%= category %>" />
    </div>
    <div class="form-group">
      <input id="value" class="form-control" type="text" value="<%= value %>" />
    </div>
    <div class="form-group">
      <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
    </div>
  </form>
  <a href="#" class="done">Done</a>
</script>

<script type="text/template" id="new-item-template">
  <form id="newItem" action="#" enctype="multipart/form-data">
    <input id="date" class="" type="hidden" type="text" value="">
    <div class="form-group">
      <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
    <div id="fileDisplayArea"></div>
    </div>
    <div class="form-group">
      <input id="title" class="form-control" type="text" placeholder="Title" />
    </div>
    <div class="form-group">
      <input id="category" class="form-control" type="text" placeholder="Category" />
    </div>
    <div class="form-group">
      <input id="value" class="form-control" type="text" placeholder="Value" />
    </div>
  </form>
  <a href="#" class="done">Done</a>
</script>

<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/underscore.min.js"></script>
<script src="js/lib/backbone.min.js"></script>
<script src="js/models/category-index.js"></script>
<script src="js/models/item-list.js"></script>
<script src="js/models/single-item.js"></script>
<script src="js/models/new-item.js"></script>
<script src="js/collections/category-index.js"></script>
<script src="js/collections/item-list.js"></script>
<script src="js/views/header.js"></script>
<script src="js/views/item.js"></script>
<script src="js/views/item-list.js"></script>
<script src="js/views/category-item.js"></script>
<script src="js/views/category-index.js"></script>
<script src="js/views/single-item.js"></script>
<script src="js/views/new-item.js"></script>
<script src="js/views/edit-item.js"></script>
<script src="js/routes/routes.js"></script>
<script src="js/lib/helpers.js"></script>
<script src="js/app.js"></script>

</body>
</html>

