@import 'normalize';
@import 'bourbon';
@import 'bitters/bitters';
@import 'neat';
@import 'fonts';


/* Variables */
$gesso: #FFF;
$midnight: #000;
$darkfog: #333;
$error: #ff0033;
$bgcolor: #F2F2F2;
$brand: #a4c222;
$lightest: 100;
$light: 200;
$medium: 400;
$heavy: 600;

$thumbnail: 80px;

/* Mixins */
.hide-text {
  white-space: nowrap;
  overflow: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


body {
  background-color: $bgcolor;
}

/* Site-specific */
h1 {
  color: $brand;
  font-weight: $lightest;
  font-size: 50px;
  margin: .35em 0;
  text-align: center;
}

h2 {
  font-weight: initial;
}

#header + #main {
  padding-top: 60px;
}

#header.hide + #main {
  padding-top: 0;
}

header {
  @include outer-container;
  background-color: $brand;
  color: $gesso;
  opacity: .8;
  padding: .75em;
  position: fixed;
  max-width: 100%;
  z-index: 2;

  &.hide {
    top: -60px;
  }

  .header-content {

    li {
      display: table-cell;
      vertical-align: middle;

      a {
        color: $gesso;
        display: block;
        font-size: 2.25em;
        @extend .hide-text;
        position: relative;
        top: 2px;
        width: 1em;

        &:focus,
        &:active {
          opacity: .5;
          top: 3px;
        }
      }

      &.location {
        font-size: 1.15em;
        font-weight: $heavy;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
      }

    }

  }

}

/* Media Block */
.media-block {
  @include clearfix;
  margin-bottom: 1em;
  position: relative;

  img {
    float: left;
    margin: 1em 0 0;
    max-width: 100px;
  }

  .media-body {
    float: left;
  }

  [class^="icon-"] {
    color: $medium-gray;
    font-size: 1em;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: 33%;

    &:hover {
      color: $midnight;
    }

  }

  &:empty {
    margin: 0;
  }

}

/* File Upload */
.file-upload {
  overflow: hidden;
  margin-bottom: 1em;
  position: relative;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 50px;
    direction: ltr;
    cursor: pointer;
  }

  .icon-plus {
    padding-left: 10px;

    &:before {
      left: 7px;
      font-size: 1.25em;
      position: absolute;
    }

  }

}

#{$all-text-inputs},
textarea {
  box-shadow: none;
  font-weight: $light;
}

#{$all-text-inputs-focus},
textarea:focus {
  background: $gesso;
}

/* Bitters */
section {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}


/* Refills */
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $grid-items-background: $base-body-color;
  $grid-item-background: $base-body-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: auto;

  @include clearfix;
  position: relative;

  .grid-item {
    background: $grid-item-background;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    margin-bottom: .5em;
    padding: .75em;
    position: relative;
    width: 100%;
    @include transition (all 0.2s ease-in-out);

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: transparentize($grid-item-color, .95);
    }

  }

  .grid-item img {
    display: block;
    margin-bottom: 1.2em;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: .4em;
  }

  .grid-item p {
    color: transparentize($grid-item-color, .4);
    @include media($medium-screen) {
      max-width: 70%;
    }
    overflow: hidden;
  }

  .grid-item-big {
    @include media($small-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  [class^="icon-"]:before,
  [class^="icon-"]:after {
    color: transparentize($grid-item-color, .4);
  }


  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}


/* Grid Item Overrides */

/* Landing Page */
.landing {
  $grid-item-columns: 6;
  $grid-item-color: $base-font-color;
  $grid-item-big-columns: 12;

  .grid-item {
    text-align: center;
    padding: 1em;
  }

  .grid-item,
  .grid-item a {
    color: $midnight;
  }

  .grid-item p {
    margin-bottom: 0;
    text-transform: uppercase;
    @include media($large-screen) {
      max-width: 100%;
    }
  }

  .grid-item {
    @include media($small-screen) {
      @include grid-item-columns($grid-item-columns);
    }
  }

  .grid-item-big {
    @include media($small-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }

  nav .grid-item {
    font-size: 1.25em;
    text-align: left;

    [class^="icon-"]:before {
      position: relative;
      margin-right: 1em;
      top: 2px;
    }

    [class^="icon-"]:after {
      top: 28%;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}

/* Groups Page */
.groups.grid-items-lines {

  .grid-item img {
    height: $thumbnail;
    float: left;
    margin: 0 1em 0 0;
    max-width: $thumbnail;
    min-height: $thumbnail;
    min-width: $thumbnail;
  }

  h3 {
    color: $midnight;
    font-size: 1.25em;
    margin: .85em 0 -5px;
    padding-right: 1.5em;

    +small {
      color: $blue;
      margin-bottom: 0;
    }

  }

  .grid-item span {
    bottom: 3px;
    font-size: .75rem;
    font-weight: normal;
    left: 7px;
    position: relative;
  }

  p {
    font-size: .75em;
    line-height: 1.75em;
    margin-bottom: 0;
    margin-right: 1em;
  }

  .icon-forward-r:after {
    top: 39%;
  }

}


/* Items Page */
.items.grid-items-lines {

  .grid-item {
    display: table;
    height: auto;
    padding: .75em;
    text-align: left;

    .media-group {
      display: table;
      min-height: 60px;

      img {
        float: left;
        height: $thumbnail;
        margin-right: 1em;
        margin-bottom: auto;
        opacity: 1;
        min-width: $thumbnail;
        max-width: $thumbnail;
      }

      h4 {
        display: table-cell;
        color: $midnight;
        font-size: 1em;
        padding-right: 1em;
        text-align: left;
        vertical-align: middle;
      }

    }

  }

  .grid-item span {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }

    &.icon-close {
      font-size: 1.35em;
      position: relative;
      top: 4px;
    }

  }

  .controls {
    display: table-cell;
    font-size: .85rem;
    width: 66px;
    text-align: right;
    vertical-align: middle;
  }

}


/* Detail Page */
.detail {

  figure {
    background: url("../images/ajax-loader.gif") no-repeat center;
    color: $gesso;
    margin: 0;
    min-height: 332px;
    position: relative;

    img {
      width: 100%;
    }

    .icon-close {
      color: $gesso;
      font-size: 1.5em;
      @extend .hide-text;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 2px;
    }

    .value-tag {
      bottom: 1em;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      right: .75em;
    }

    &.no-image {
      color: $midnight;
      min-height: 320px;

      .icon-close {
        color: $midnight;
      }

    }

  }

  .bd {
    padding: 1em 1em 4em;
    position: relative;

    h2 {
      font-size: 18px;
    }

    h6 {
      color: $medium-gray;
      font-size: 14px;
      margin: .5em 0;

      a {
        color: $blue;
      }

    }

    p, ul {
      font-size: 14px;
    }

    .icon-receipt {
      color: $brand;
      font-size: 2em;
      position: absolute;
      right: .35em;
      top: .5em;
    }

  }

}


/* Footer */
footer {
  background: $gesso;
  border-top: 1px solid #EFEFEF;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .75em;
  position: fixed;

  button {
    @extend .hide-text;
  }

  [class^="icon"] {
    padding: 7px 10px;
  }

  .trash {
    @extend .pull-right;
  }

}


/* Edit Page */
.form-layout {
  padding: 1em;

  .bd {
    margin-bottom: 4em;

    &.trim {
      margin-bottom: 0;
    }

  }

}


/* Errors */
.has-error {
  margin-bottom: .75em;

  input {
    margin-bottom: 4px;
  }

  .help-block {
    color: $error;
    font-size: .75em;
    padding-left: 2px;
  }

}



/* Progress Bar */
.progress-bar-indication {
  @include transition (height .5s ease-out);
  background: url("../images/ajax-loader.gif") no-repeat center;
  height: 0;

  &.active {
    height: 60px;
  }

}


/* Autosuggest */
.autocomplete-suggestions {
  background: #FFF;
  border: 1px solid #DDD;
  border-top: 0;
  overflow: auto;

  .autocomplete-suggestion {
    padding: 6px 8px;
    white-space: nowrap;
    overflow: hidden;

    &.autocomplete-selected {
      background: #F0F0F0;
    }

    strong {
      font-weight: normal;
      color: #3399FF;
    }

  }

}

/* Custom Form Stuff */
.hidden {
  display: none;
}

.utility-link {
  a {
    color: $darkfog;
  }
}


/* Prevent Focus Jumping */
.fixfixed footer {
  bottom: 0;
  position: absolute;
}


/* Splash Screen */
#splash {
  background-color: $brand;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  @include transition (top 0.5s ease-in-out);
  position: fixed;
  z-index: 100;

  &.out {
    top: 100%;
  }

  h1 {
    color: $gesso;
    margin-top: 1.55em;
  }

}
