extends ../layouts/default

block main
  .container-fluid
    .main-stats
      .row.stats-row
        .col-md-2.col-sm-2.stat
          .data
            span#total-count.number 0 | items
        .col-md-5.col-sm-5.stat.last
          .data
            span#value-wrap.number
              | $
              b
            span.value value
        button.btn.btn-sm.btn-primary.pull-right.add-item.icon-plus(data-toggle='modal', data-target='#items')
      .list
        table.table.table-striped.table-hover
          thead
            tr
              th.date Date
              th.title Title
              th.category Category
              th.image Image
              th.value Value
              th
          tbody#inventory-wrap

    #items.modal.flush.fade(tabindex='-1', role='dialog', aria-labelledby='openitems', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close.reset(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Step 1: Take a photo
          .modal-body
            #form
              form#addItem(action='#', enctype='multipart/form-data')
                input#date.collect(type='text', value='')
                .step-1.active
                  .form-group
                    .icon-camera
                    input#fileInput.form-control(capture='camera', accept='image/*', type='file', name='files[]')
                  #fileDisplayArea
                .step-2
                  .form-group
                    input#title.form-control.collect(type='text', placeholder='Title')
                  .form-group
                    input#category.form-control.collect(type='text', placeholder='Category')
                  .form-group
                    input#value.form-control.collect(type='text', placeholder='Value')
          #scrollable.modal-footer
            .step-1.active
              button#skip.btn.btn-default(type='submit', data-step='details') Next
              button#next.btn.btn-default.hide(type='submit', data-step='details') Details
            .step-2
              button#back.btn.btn-default(type='button', data-step='photo') Back
              button#add.btn.btn-primary(type='submit') Save