<a href="#/category/{{slug}}" class="grid-item">
  <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_{{count}}_dark.png" alt="">
  <h1>{{_id}}</h1>
  <p>Items: {{count}}</p>
</a>