<form id="editItem" action="#" enctype="multipart/form-data">
  <input id="slug" type="hidden" value="{{slug}}">
  <div class="form-group">
    <input id="title" class="form-control" type="text" value="{{title}}" />
  </div>
  <div class="form-group">
    <input id="category" class="form-control" type="text" value="{{category}}" />
  </div>
  <div class="form-group">
    <input id="value" class="form-control" type="text" value="{{value}}" />
  </div>
  <div class="form-group">
    <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
  </div>
</form>
<a href="#" class="done">Done</a>