<div class="row stats-row">
  <div class="stat">
    <div class="data">
      <span class="number" id="total-count">0</span>items
    </div>
  </div>
  <div class="stat">
    <div class="data">
      <span class="number" id="value-wrap">$<b>0</b></span>total value
    </div>
  </div>
  <button class="btn btn-sm btn-primary pull-right icon-plus new"></button>
</div>