<h1>New Thang</h1>
<form id="newItem" action="#" enctype="multipart/form-data">
  <input id="slug" type="hidden" value="">
  <div class="form-group">
    <input id="title" class="form-control" type="text" placeholder="Title" value="" />
  </div>
  <div class="form-group">
    <input id="category" class="form-control" type="text" placeholder="Category" value="" />
  </div>
  <div class="form-group">
    <input id="value" class="form-control" type="text" placeholder="$ Value" value="" />
  </div>
  <div class="form-group">
    <input id="fileInput" class="form-control" capture="camera" accept="image/*" type="file" name="files[]" />
  </div>
</form>
<a href="#" class="done hide">Done</a>